<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Milligram | A minimalist CSS framework.</title>
    <link rel="icon" href="{% static 'milligram/img/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'milligram/css/main.css' %}" />
  </head>


  <body>
    <main class="wrapper">
      <header class="container" id="home">
        This uses milligram framwork 
      </header>

 
    </main>

    <script src="{% static 'milligram/js/main.js' %}"></script>
  </body>
</html>
