{% extends "myproject/base.html" %}


{% block title %}
About this site !
{%endblock%}


{% block section %}
    <section class="container">
        <h1>
          <br><br><strong> Welcome! </strong> <br>
            <i>on our new website, made with milligram css</i>
       </h1>

        <pre class="code prettyprint prettyprinted" style="">
            <code class="code-content">
                <span class="pln">
                    We hope you will enjoy your journey, <br>
                    Let us know ...<br>
                </span>
            </code>
        </pre>
    </section>
{%endblock%}
